.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 70px 0px;
  background-color: var(--background-color-grey);
}
@media screen and (min-width: 1024px) {
  .servicesSection {
    padding: 150px 0px;
  }
}
.servicesWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
@media screen and (min-width: 1024px) {
  .servicesWrapper {
    flex-direction: row;
    align-items: flex-start;
    padding: 150px 0px;
  }
}
.servicesTextBlock {
  display: block;
}
@media screen and (min-width: 1024px) {
  .servicesTextBlock {
    width: 250px;
  }
}
.servicesBlocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .servicesBlocks {
    flex-direction: row;
    align-items: flex-start;
    padding: 150px 0px;
  }
}

.servicesHeader {
  margin-bottom: 70px;
  color: var(--text-color-black);
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.servicesText {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
}
@media screen and (min-width: 1024px) {
  .servicesText {
    width: 543px;
  }
}

.servicesPrinciples {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 1000px;
  width: 280px;
  border-radius: 20px;
  background: var(--gradient-text);
}
@media screen and (min-width: 1024px) {
  .servicesPrinciples {
    flex-direction: row;
    margin-left: auto;
    height: 283px;
    width: 750px;
  }
}
.servicesList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 50px 0px;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .servicesList {
    flex-direction: row;
    padding: 0px 24px;
  }
}
.servicesItem {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: var(--text-color-white);
  width: 221px;
  height: 280px;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .servicesItem {
    height: 318px;
  }
}
.servicesIconAround {
  margin-top: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-color-grey);
}
.servicesIcons {
  fill: #4f86e3;
}
.servicesDescription {
  display: block;
  margin: 35px 30px 57px 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
