.mainSection {
  padding: 50px 0px;
}
/* .backButton {
  border: none;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  background-image: var(--gradient-text);
  -webkit-background-clip: text;
  color: transparent;
} */
.arrowSvg {
  rotate: 180deg;
  margin-right: 10px;
  stroke: #4f86e3;
  margin-left: 14px;
  transition: stroke 0.3s linear, fill 0.3s linear;
}
.mainHeader {
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.updateTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.updateData {
  display: block;
  margin-top: 25px;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: right;
  color: var(--primary-color);
}
.descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 15px;
  background-color: var(--background-color-grey);
  height: 205px;
}
.shortDescription {
  display: block;
  margin: 20px 0 0 20px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
}
.showHide {
  display: block;
  margin: 0 20px 20px 0;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: right;
}
.tableContainer {
  margin-top: 50px;
  width: calc(100% - 17px);
  height: calc(100% - 17px);
  table-layout: auto;
  border-collapse: collapse;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}
.tableWrapper {
  max-width: 950px;
  overflow: hidden;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #d8d8d8;
  table-layout: fixed;
  border-radius: 20px;
}

.table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--text-color-white);
  width: 290px;
  height: 66px;
  border: 1px solid #d8d8d8;
  color: #4f86e3;
  padding: 20px;
  text-align: left;
  font-family: 'Neue Haas Grotesk Display Pro';
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.table td {
  border: 1px solid #d8d8d8;
  padding: 20px;
  text-align: center;
  font-family: 'Neue Haas Grotesk Display Pro';
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
}
.disclaimerBlock {
  display: block;
  margin-top: 50px;
}
.disclaimerTitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
}
.disclaimerText {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
}
