.aboutSection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0px;
  background-color: var(--text-color-white);
}
@media screen and (min-width: 1024px) {
  .aboutSection {
    flex-direction: row;
    padding: 150px 0px;
  }
}
.aboutImage {
  display: block;
  width: 320px;
}
@media screen and (min-width: 1024px) {
  .aboutImage {
    min-width: 625px;
  }
}
.aboutTextBlock {
  display: block;
  max-width: 534px;
}
.aboutHeader {
  margin-bottom: 70px;
  color: var(--text-color-black);
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
}
.aboutText {
  display: block;
  margin-bottom: 30px;
  padding: 0;
  color: var(--text-color-black);
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
}
.aboutTextHelps {
  display: block;
  color: var(--text-color-black);
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
}
