.headerBox {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  align-items: center;
  height: 70px;
  background-color: transparent;
  box-shadow: none;
  left: 50%;
  transform: translateX(-50%);
}

.containerHeader {
  display: flex;
  align-items: center;
}

.headerLogo {
  display: block;
  text-decoration: none;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.headerLink {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.2;
  color: var(--text-color-black);
}

.headerLinkPortal {
  display: block;
  list-style: none;
  text-decoration: none;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.headerLists {
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}
