.pcicingSection {
  padding: 150px 0px;
}
.pricingWrapper {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 0px 15px;
}
.pricingTextBlock {
  display: flex;
  justify-content: space-between;
}
.pricingList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 640px;
  margin: 0;
  padding: 0;
}
.pricingHeader {
  display: block;
  margin-bottom: 70px;
}
.pricingItem {
  color: var(--text-color-black);
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 35px;
}
.pricingItem:last-child {
  margin-bottom: 50px;
}
.feeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 200px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 25px 55px 25px 55px;
  border-radius: 50px;
  border: 1px;
  background-image: var(--gradient-text);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border: 1px solid #4f86e3;
  transition: background-image 0.3s linear, color 0.3s linear;
}

.feeButton:hover,
.feeButton:focus {
  background: var(--gradient-text);
  color: var(--text-color-white);
}

.arrowSvg {
  stroke: #4f86e3;
  margin-left: 14px;
  transition: stroke 0.3s linear, fill 0.3s linear;
}
.feeButton:hover .arrowSvg {
  stroke: var(--text-color-white);
}
