.headerBox {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  align-items: center;
  height: 120px;
  background-color: transparent;
  box-shadow: none;
  left: 50%;
  transform: translateX(-50%);
}

.headerLogo {
  display: block;
  text-decoration: none;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.headerLink {
  display: block;
  text-decoration: none;
  padding: 15px 0 8px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.2;
  color: var(--text-color-black);
  position: relative;
  transition: color 0.3s ease-in-out;
}
.headerLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--gradient-text);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.headerLink:hover::after,
.headerLink:focus::after {
  transform: scaleX(1);
}

.headerLink:hover,
.headerLink:focus {
  background: linear-gradient(0deg, #3b78df, #5859de);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.clientPortalBlock {
  display: block;
  padding: 0 15px 0 0;
}
.headerLinkPortal {
  display: block;
  position: relative;
  list-style: none;
  text-decoration: none;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px 0px 8px 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.02em;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.headerLinkPortal::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--gradient-text);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.headerLinkPortal:hover::after,
.headerLinkPortal:focus::after {
  transform: scaleX(1);
}

.headerLists {
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.logo {
  fill: #4f86e3;
}
