@import-normalize;

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82961,82965,82963');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
svg {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
:root {
  --primary-color: #757a7e;
  --gradient-text: linear-gradient(45deg, #4f86e3, #898af4);
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --background-color-grey: #f9f9f9;
}
